@import "variables.scss";

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
[tabindex="-1"]:focus:not(:focus-visible) {
    outline: 0 !important;
}
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
dl,
ol,
ul {
    margin-top: 0;
    margin-bottom: 1rem;
}
ol ol,
ol ul,
ul ol,
ul ul {
    margin-bottom: 0;
}
dt {
    font-weight: 700;
}
dd {
    margin-bottom: 0.5rem;
    margin-left: 0;
}
blockquote {
    margin: 0 0 1rem;
}
b,
strong {
    font-weight: bolder;
}
small {
    font-size: 80%;
}
sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}
sub {
    bottom: -0.25em;
}
sup {
    top: -0.5em;
}
a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}
a:hover {
    color: #0056b3;
    text-decoration: underline;
}
a:not([href]) {
    color: inherit;
    text-decoration: none;
}
a:not([href]):hover {
    color: inherit;
    text-decoration: none;
}
label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

button {
    border-radius: 0;
}
button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
}
button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button,
input {
    overflow: visible;
}
button,
select {
    text-transform: none;
}
select {
    word-wrap: normal;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="time"] {
    -webkit-appearance: listbox;
}
textarea {
    overflow: auto;
    resize: vertical;
}
fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}
legend {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    line-height: inherit;
    color: inherit;
    white-space: normal;
}
progress {
    vertical-align: baseline;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
[type="search"] {
    outline-offset: -2px;
    -webkit-appearance: none;
}
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button;
}
output {
    display: inline-block;
}
summary {
    display: list-item;
    cursor: pointer;
}
template {
    display: none;
}
[hidden] {
    display: none !important;
}

span {
    font-size: 16px;
}

label {
    font-size: 16px;
    font-weight: bold;
    color: #696969;
    margin: 0px;
}

.e-btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.e-btn:hover {
    color: #212529;
    text-decoration: none;
}
.e-btn.focus,
.e-btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.e-btn.disabled,
.e-btn:disabled {
    opacity: 0.65;
}
a.e-btn.disabled,
fieldset:disabled a.e-btn {
    pointer-events: none;
}
.e-btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}
.e-btn-secondary:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
}
.e-btn-secondary.focus,
.e-btn-secondary:focus {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
    box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}
.e-btn-secondary.disabled,
.e-btn-secondary:disabled {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}
.e-btn-secondary:not(:disabled):not(.disabled).active,
.e-btn-secondary:not(:disabled):not(.disabled):active,
.show > .e-btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #545b62;
    border-color: #4e555b;
}
.e-btn-secondary:not(:disabled):not(.disabled).active:focus,
.e-btn-secondary:not(:disabled):not(.disabled):active:focus,
.show > .e-btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}
.e-btn-outline-secondary {
    color: #6c757d;
    border-color: #6c757d;
}
.e-btn-outline-secondary:hover {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}
.e-btn-outline-secondary.focus,
.e-btn-outline-secondary:focus {
    box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}
.e-btn-outline-secondary.disabled,
.e-btn-outline-secondary:disabled {
    color: #6c757d;
    background-color: transparent;
}
.e-btn-outline-secondary:not(:disabled):not(.disabled).active,
.e-btn-outline-secondary:not(:disabled):not(.disabled):active,
.show > .e-btn-outline-secondary.dropdown-toggle {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}
.e-btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.e-btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
.show > .e-btn-outline-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}
.e-btn-light {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}
.e-btn-light:hover {
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5;
}
.e-btn-light.focus,
.e-btn-light:focus {
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5;
    box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
}
.e-btn-light.disabled,
.e-btn-light:disabled {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}
.e-btn-light:not(:disabled):not(.disabled).active,
.e-btn-light:not(:disabled):not(.disabled):active,
.show > .e-btn-light.dropdown-toggle {
    color: #212529;
    background-color: #dae0e5;
    border-color: #d3d9df;
}
.e-btn-light:not(:disabled):not(.disabled).active:focus,
.e-btn-light:not(:disabled):not(.disabled):active:focus,
.show > .e-btn-light.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
}
.e-btn-outline-easie {
    color: #2486be !important;
    border-color: #2486be !important;
}

.e-close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.5;
}
.e-close:hover {
    color: #000;
    text-decoration: none;
}
.e-close:not(:disabled):not(.disabled):focus,
.e-close:not(:disabled):not(.disabled):hover {
    opacity: 0.75;
}
button.e-close {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
a.e-close.disabled {
    pointer-events: none;
}
.e-rounded {
    border-radius: 0.25rem !important;
}

.e-d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}

.e-flex-column {
    -ms-flex-direction: column !important;
    flex-direction: column !important;
}

.e-flex-wrap {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
}
.e-flex-grow-0 {
    -ms-flex-positive: 0 !important;
    flex-grow: 0 !important;
}
.e-flex-grow-1 {
    -ms-flex-positive: 1 !important;
    flex-grow: 1 !important;
}

.e-justify-content-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
}
.e-justify-content-between {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
}
.e-justify-content-around {
    -ms-flex-pack: distribute !important;
    justify-content: space-around !important;
}

.e-justify-content-end {
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
}

.e-align-items-center {
    -ms-flex-align: center !important;
    align-items: center !important;
}
.e-align-self-center {
    -ms-flex-item-align: center !important;
    align-self: center !important;
}
.e-align-self-stretch {
    -ms-flex-item-align: stretch !important;
    align-self: stretch !important;
}

.e-bg-white {
    background-color: #fff !important;
}

.bg-easie {
    background-color: #2486be !important;
}

.e-w-25 {
    width: 25% !important;
}
.e-w-50 {
    width: 50% !important;
}
.e-w-75 {
    width: 75% !important;
}
.e-w-100 {
    width: 100% !important;
}

.e-m-0 {
    margin: 0 !important;
}
.e-mt-0,
.e-my-0 {
    margin-top: 0 !important;
}
.e-mr-0,
.e-mx-0 {
    margin-right: 0 !important;
}
.e-mb-0,
.e-my-0 {
    margin-bottom: 0 !important;
}
.e-ml-0,
.e-mx-0 {
    margin-left: 0 !important;
}
.e-m-1 {
    margin: 0.25rem !important;
}
.e-mt-1,
.e-my-1 {
    margin-top: 0.25rem !important;
}
.e-mr-1,
.e-mx-1 {
    margin-right: 0.25rem !important;
}
.e-mb-1,
.e-my-1 {
    margin-bottom: 0.25rem !important;
}
.e-ml-1,
.e-mx-1 {
    margin-left: 0.25rem !important;
}
.e-m-2 {
    margin: 0.5rem !important;
}
.e-mt-2,
.e-my-2 {
    margin-top: 0.5rem !important;
}
.e-mr-2,
.e-mx-2 {
    margin-right: 0.5rem !important;
}
.e-mb-2,
.e-my-2 {
    margin-bottom: 0.5rem !important;
}
.e-ml-2,
.e-mx-2 {
    margin-left: 0.5rem !important;
}
.e-m-3 {
    margin: 1rem !important;
}
.e-mt-3,
.e-my-3 {
    margin-top: 1rem !important;
}
.e-mr-3,
.e-mx-3 {
    margin-right: 1rem !important;
}
.e-mb-3,
.e-my-3 {
    margin-bottom: 1rem !important;
}
.e-ml-3,
.e-mx-3 {
    margin-left: 1rem !important;
}
.e-m-4 {
    margin: 1.5rem !important;
}
.e-mt-4,
.e-my-4 {
    margin-top: 1.5rem !important;
}
.e-mr-4,
.e-mx-4 {
    margin-right: 1.5rem !important;
}
.e-mb-4,
.e-my-4 {
    margin-bottom: 1.5rem !important;
}
.e-ml-4,
.e-mx-4 {
    margin-left: 1.5rem !important;
}
.e-m-5 {
    margin: 3rem !important;
}
.e-mt-5,
.e-my-5 {
    margin-top: 3rem !important;
}
.e-mr-5,
.e-mx-5 {
    margin-right: 3rem !important;
}
.e-mb-5,
.e-my-5 {
    margin-bottom: 3rem !important;
}
.e-ml-5,
.e-mx-5 {
    margin-left: 3rem !important;
}

.e-p-0 {
    padding: 0 !important;
}
.e-pt-0,
.e-py-0 {
    padding-top: 0 !important;
}
.e-pr-0,
.e-px-0 {
    padding-right: 0 !important;
}
.e-pb-0,
.e-py-0 {
    padding-bottom: 0 !important;
}
.e-pl-0,
.e-px-0 {
    padding-left: 0 !important;
}
.e-p-1 {
    padding: 0.25rem !important;
}
.e-pt-1,
.e-py-1 {
    padding-top: 0.25rem !important;
}
.e-pr-1,
.e-px-1 {
    padding-right: 0.25rem !important;
}
.e-pb-1,
.e-py-1 {
    padding-bottom: 0.25rem !important;
}
.e-pl-1,
.e-px-1 {
    padding-left: 0.25rem !important;
}
.e-p-2 {
    padding: 0.5rem !important;
}
.e-pt-2,
.e-py-2 {
    padding-top: 0.5rem !important;
}
.e-pr-2,
.e-px-2 {
    padding-right: 0.5rem !important;
}
.e-pb-2,
.e-py-2 {
    padding-bottom: 0.5rem !important;
}
.e-pl-2,
.e-px-2 {
    padding-left: 0.5rem !important;
}
.e-p-3 {
    padding: 1rem !important;
}
.e-pt-3,
.e-py-3 {
    padding-top: 1rem !important;
}
.e-pr-3,
.e-px-3 {
    padding-right: 1rem !important;
}
.e-pb-3,
.e-py-3 {
    padding-bottom: 1rem !important;
}
.e-pl-3,
.e-px-3 {
    padding-left: 1rem !important;
}
.e-p-4 {
    padding: 1.5rem !important;
}
.e-pt-4,
.e-py-4 {
    padding-top: 1.5rem !important;
}
.e-pr-4,
.e-px-4 {
    padding-right: 1.5rem !important;
}
.e-pb-4,
.e-py-4 {
    padding-bottom: 1.5rem !important;
}
.e-pl-4,
.e-px-4 {
    padding-left: 1.5rem !important;
}
.e-p-5 {
    padding: 3rem !important;
}
.e-pt-5,
.e-py-5 {
    padding-top: 3rem !important;
}
.e-pr-5,
.e-px-5 {
    padding-right: 3rem !important;
}
.e-pb-5,
.e-py-5 {
    padding-bottom: 3rem !important;
}
.e-pl-5,
.e-px-5 {
    padding-left: 3rem !important;
}

.e-input-group-prepend {
    display: -ms-flexbox;
    display: flex;
}
.e-input-group-prepend .e-btn {
    position: relative;
    z-index: 2;
}
.e-input-group-prepend .e-btn:focus {
    z-index: 3;
}
.e-input-group-prepend .e-btn + .e-btn,
.e-input-group-prepend .e-btn + .e-input-group-text,
.e-input-group-prepend .e-input-group-text + .e-btn,
.e-input-group-prepend .e-input-group-text + .e-input-group-text {
    margin-left: -1px;
}
.e-input-group-prepend {
    margin-right: -1px;
}

.e-input-group-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.375rem 0.75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}
.e-input-group-text input[type="checkbox"],
.e-input-group-text input[type="radio"] {
    margin-top: 0;
}

.e-modal-title {
    margin-bottom: 0;
    line-height: 1.5;
}

.e-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.e-nav-link {
    display: block;
    padding: 0.5rem 1rem;
}
.e-nav-link:focus,
.e-nav-link:hover {
    text-decoration: none;
}
.e-nav-link.disabled {
    color: #6c757d;
    pointer-events: none;
    cursor: default;
}
.e-nav-tabs {
    border-bottom: 1px solid #dee2e6;
}
.e-nav-tabs .e-nav-item {
    margin-bottom: -1px;
}
.e-nav-tabs .e-nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}
.e-nav-tabs .e-nav-link:focus,
.e-nav-tabs .e-nav-link:hover {
    border-color: #e9ecef #e9ecef #dee2e6;
}
.e-nav-tabs .e-nav-link.disabled {
    color: #6c757d;
    background-color: transparent;
    border-color: transparent;
}
.e-nav-tabs .e-nav-item.show .e-nav-link,
.e-nav-tabs .e-nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}
.e-nav-tabs .dropdown-menu {
    margin-top: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.e-text-secondary {
    color: #6c757d !important;
}
a.e-text-secondary:focus,
a.e-text-secondary:hover {
    color: #494f54 !important;
}

.e-text-muted {
    color: #6c757d !important;
}

.e-form-text {
    display: block;
    margin-top: 0.25rem;
}

.text-easie {
    color: $primary !important;
}

.e-text-white {
    color: #fff !important;
}

.hover-text-easie {
    cursor:pointer !important;
}
.hover-text-easie:hover {
    color: $primary !important;
}
.hover-text-white {
    cursor:pointer !important;
}
.hover-text-white:hover {
    color: white !important;
}

.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sticky-top {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 1020;
    }
}